# Compiled files
*.tfstate
*.tfstate.backup
.idea
commentedcode.tf

# Module directory
.terraform
.idea
*.iml

# Local .terraform directories
**/.terraform/*
# Terraform lockfile
.terraform.lock.hcl
.terraform.tfstate
.terraform.tfstate.backup
*env
*venv
# .tfstate files
*.tfstate
*.tfstate.*

# Ignore Code Editor conf files
*.idea
../.idea/

# Mac OS
../.DS_Store

**/.gradle/*
**/build/*
terraform/modules/front_end_rest_api_gw/lambda_code/lambda_redirect.zip
authorizer/zip/authorizer-lambda-1.0.1.zip
authorizer/zip/*.zip

.build-harness
build-harness